@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2"), url("../fonts/poppins-400.woff") format("woff");
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff");
  font-weight: "500";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("../fonts/poppins-600.woff2") format("woff2"), url("../fonts/poppins-600.woff") format("woff");
  font-weight: "600";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff");
  font-weight: "700";
  font-style: normal;
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden; /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2"), url("../fonts/poppins-400.woff") format("woff");
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff");
  font-weight: "500";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("../fonts/poppins-600.woff2") format("woff2"), url("../fonts/poppins-600.woff") format("woff");
  font-weight: "600";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff");
  font-weight: "700";
  font-style: normal;
}
header {
  height: 88px;
}
header .main-container {
  display: flex;
  padding: 24px 160px;
}
@media (max-width: 600px) {
  header .main-container {
    padding: 24px 32px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  header .main-container {
    padding: 24px 80px;
  }
}

.header__logo {
  display: flex;
  flex: 2;
}
@media (max-width: 600px) {
  .header__logo img {
    width: 140px;
  }
}

.header__user {
  display: flex;
  flex: 3;
  justify-content: end;
  align-items: center;
}
.header__avatar {
  margin-left: 30px;
}
.header__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 200px;
}

.header__menu {
  margin-left: 24px;
}

.header__notifications {
  margin-left: 24px;
  position: relative;
}
.header__notifications.header__notifications-active:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background: #58C27D;
  border-radius: 100px;
  top: -6px;
  right: -7px;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2"), url("../fonts/poppins-400.woff") format("woff");
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff");
  font-weight: "500";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("../fonts/poppins-600.woff2") format("woff2"), url("../fonts/poppins-600.woff") format("woff");
  font-weight: "600";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff");
  font-weight: "700";
  font-style: normal;
}
h2 {
  font-family: "Poppins-bold", sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  color: #23262F;
  margin-bottom: 12px;
}

.hero {
  position: relative;
  margin-bottom: 240px;
}
@media (max-width: 600px) {
  .hero {
    margin-bottom: 80px;
  }
}

.hero__image {
  position: relative;
  background: url("../images/hero.png") no-repeat;
  background-size: cover;
  border-radius: 24px;
  width: 100%;
  height: 776px;
}
.hero__image:before {
  content: "";
  position: absolute;
  background: linear-gradient(124.39deg, rgba(57, 57, 57, 0.67) 22.5%, rgba(0, 0, 0, 0) 48.83%);
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  border-radius: 24px;
}
@media (max-width: 600px) {
  .hero__image {
    background-position: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .hero__image {
    height: 610px;
  }
}

.hero__content {
  width: 500px;
  top: 248px;
  left: 80px;
  color: #FCFCFD;
  position: absolute;
}
.hero__content h1 {
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  font-family: "Poppins-semibold", sans-serif;
  font-weight: 600;
}
.hero__content h2 {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FCFCFD;
}
@media (max-width: 600px) {
  .hero__content {
    top: 256px;
    left: 0;
    width: 100%;
    padding: 16px;
  }
  .hero__content h1 {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .hero__content {
    top: 66px;
    width: 440px;
  }
  .hero__content h1 {
    font-size: 66px;
    line-height: 64px;
  }
  .hero__content h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.hero__cta {
  display: flex;
  padding: 40px;
  position: absolute;
  height: 200px;
  left: 80px;
  right: 80px;
  bottom: -80px;
  background: linear-gradient(83.59deg, #FCFCFD 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
  border: 1px solid #FCFCFD;
  box-shadow: 0 40px 64px -32px rgba(15, 15, 15, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 24px;
  align-items: center;
}
@media (max-width: 600px) {
  .hero__cta {
    padding: 20px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    height: 152px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .hero__cta {
    left: 40px;
    right: 40px;
  }
}

.hero__cta-text {
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 38px;
}
.hero__cta-text:before {
  position: absolute;
  content: "";
  background: url("../images/arrow.svg") no-repeat;
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
}
.hero__cta-text h2 {
  font-family: "Poppins-medium", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #23262F;
  margin-bottom: 0;
}
.hero__cta-text a {
  font-size: 15px;
  color: #3B71FE;
}
@media (max-width: 600px) {
  .hero__cta-text {
    padding-left: 0;
  }
  .hero__cta-text:before {
    display: none;
  }
}

.hero__cta-button {
  margin-left: auto;
}

.gallery {
  background: #F4F5F6;
  border-radius: 24px;
  padding: 80px 0;
}
.gallery p {
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 600px) {
  .gallery {
    padding: 40px 16px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery {
    padding: 80px 40px;
  }
}

.gallery__text {
  padding-left: 80px;
}
@media (max-width: 600px) {
  .gallery__text {
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery__text {
    padding-left: 0;
    text-align: center;
  }
}

.section__default {
  text-align: center;
  margin: 80px 80px 130px;
}
.section__default h3 {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.01em;
  font-weight: 400;
  max-width: 550px;
  margin: 0 auto 64px;
}
@media (max-width: 600px) {
  .section__default {
    margin: 32px 16px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .section__default {
    margin: 40px 0 60px;
  }
}

.section__gallery {
  margin: 30px 40px;
}
@media (max-width: 600px) {
  .section__gallery {
    margin: 30px 0;
    background: linear-gradient(83.59deg, #fcfcfd 36.52%, rgba(252, 252, 253, 0.83) 98.8%);
    border: 1px solid #fcfcfd;
    box-shadow: 0 40px 64px -32px rgba(15, 15, 15, 0.1);
    backdrop-filter: blur(16px);
    border-radius: 20px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .section__gallery {
    margin: 30px 0;
  }
}

.section__default-header {
  text-align: left;
  padding: 24px;
  line-height: 24px;
}
.section__default-header h1 {
  font-size: 64px;
  line-height: 64px;
  color: #23262F;
  margin-bottom: 24px;
  font-family: "Poppins-bold", sans-serif;
}
@media (max-width: 600px) {
  .section__default-header h1 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
}

.planning__items {
  display: flex;
  background: url(../images/dash-line.png) no-repeat 220px 90px;
  background-size: 60%;
}
@media (max-width: 600px) {
  .planning__items {
    flex-direction: column;
    background: url(../images/dash-line-vertical.png) repeat-y center;
  }
}

.planning__items-item {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
}
.planning__items-item img {
  height: 230px;
  margin-bottom: 15px;
}
.planning__items-item h3 {
  font-family: "Poppins-semibold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #23262F;
  margin-bottom: 8px;
  max-width: 270px;
}
.planning__items-item p {
  max-width: 256px;
  margin: auto;
}
@media (max-width: 600px) {
  .planning__items-item {
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px 0;
    background: #fcfcfd;
  }
  .planning__items-item:last-child {
    margin-bottom: 0;
    padding-bottom: 60px;
  }
}

.experiences__items {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  margin-top: 64px;
  margin-bottom: 64px;
}
@media (max-width: 600px) {
  .experiences__items {
    display: block;
  }
}

.experiences__items-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #23262F;
}
.experiences__items-item img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .experiences__items-item {
    margin-bottom: 40px;
  }
}

.section__new-app {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .section__new-app {
    flex-direction: column;
    margin-top: 80px;
  }
}

.new-app__text {
  flex: 3;
  padding-right: 30px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
}
.new-app__text h2 {
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  .new-app__text {
    padding-right: 0;
    flex: 1;
  }
  .new-app__text h2 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .new-app__text {
    flex: 5;
    padding-right: 0;
  }
}

.new-app__text-small {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 16px;
}

.new-app__image {
  flex: 5;
}
.new-app__image img {
  max-width: 100%;
}
@media (max-width: 600px) {
  .new-app__image {
    flex: 1;
    margin-top: 48px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .new-app__image {
    flex: 3;
  }
  .new-app__image img {
    margin-right: -100px;
  }
}

.carousel__container {
  position: relative;
  overflow: hidden;
}

.carousel__viewport {
  position: relative;
  margin-top: 64px;
}
.carousel__viewport:before, .carousel__viewport:after {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #F4F5F6 0%, rgba(244, 245, 246, 0) 100%);
  width: 48px;
  height: 365px;
  left: 0;
  top: 0;
  z-index: 10;
}
.carousel__viewport:after {
  left: inherit;
  right: 0;
  transform: rotate(-180deg);
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 20;
}

.owl-next {
  right: 20px;
  left: inherit;
}

.carousel__slide a {
  text-decoration: none;
}

.carousel__image {
  height: 281px;
}
.carousel__image img {
  border-radius: 16px 16px 0 0;
}

.carousel__text {
  background: #fcfcfd;
  padding: 20px;
  color: #23262F;
  font-size: 12px;
  line-height: 20px;
  border-radius: 0 0 16px 16px;
}
.carousel__text h3 {
  font-family: "Poppins-semibold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2"), url("../fonts/poppins-400.woff") format("woff");
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff");
  font-weight: "500";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("../fonts/poppins-600.woff2") format("woff2"), url("../fonts/poppins-600.woff") format("woff");
  font-weight: "600";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff");
  font-weight: "700";
  font-style: normal;
}
footer {
  border-top: solid 1px #E6E8EC;
}

.footer__main {
  display: flex;
  padding: 80px 80px 48px;
}
@media (max-width: 600px) {
  .footer__main {
    padding: 40px 0;
    flex-direction: column;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .footer__main {
    padding: 40px 0;
  }
}

.footer__logo {
  flex: 0 0 256px;
}
@media (max-width: 600px) {
  .footer__logo {
    flex: 1;
    margin-bottom: 40px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .footer__logo {
    flex: 1;
    padding-right: 40px;
  }
}

.footer__social {
  margin-top: 10px;
}
.footer__social a {
  margin-right: 24px;
}

.footer__links {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__links a {
  text-decoration: none;
  color: #777E90;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 600px) {
  .footer__links {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__links a {
    margin-bottom: 20px;
  }
}

.footer__subscribe {
  flex: 1;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.footer__subscribe .input {
  display: flex;
  border: 2px solid #E6E8EC;
  padding: 8px 8px 8px 16px;
  border-radius: 90px;
  margin-top: 16px;
}
.footer__subscribe .input input {
  flex-grow: 2;
  border: none;
  font-size: 14px;
  line-height: 24px;
}
.footer__subscribe .input input:focus {
  outline: none;
}
.footer__subscribe .input form:focus-within {
  outline: 1px solid blue;
}
.footer__subscribe .input .button {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  padding: 0;
}
@media (max-width: 600px) {
  .footer__subscribe {
    margin-top: 40px;
  }
}

.footer__copy {
  height: 69px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  color: #23262F;
  padding: 0 80px;
}
@media (max-width: 600px) {
  .footer__copy {
    padding: 0;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .footer__copy {
    padding: 0;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-400.woff2") format("woff2"), url("../fonts/poppins-400.woff") format("woff");
  font-weight: "400";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-medium";
  src: url("../fonts/poppins-500.woff2") format("woff2"), url("../fonts/poppins-500.woff") format("woff");
  font-weight: "500";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-semibold";
  src: url("../fonts/poppins-600.woff2") format("woff2"), url("../fonts/poppins-600.woff") format("woff");
  font-weight: "600";
  font-style: normal;
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../fonts/poppins-700.woff2") format("woff2"), url("../fonts/poppins-700.woff") format("woff");
  font-weight: "700";
  font-style: normal;
}
.gallery__container {
  background: #F4F5F6;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 40px 64px -32px rgba(15, 15, 15, 0.1);
  border: 1px solid #fcfcfd;
  backdrop-filter: blur(16px);
}
@media (max-width: 600px) {
  .gallery__container {
    padding: 24px 16px 16px;
    border-radius: 20px;
    background: none;
    box-shadow: none;
    border: none;
  }
}

.gallery__actions {
  display: flex;
  margin-bottom: 34px;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 31px;
}
.gallery__images a {
  display: flex;
}
.gallery__images img {
  max-width: 100%;
  border-radius: 24px;
}
@media (max-width: 600px) {
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .gallery__images img {
    border-radius: 8px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  color: #777E90;
  background: #fcfcfd;
  font-family: "Poppins", sans-serif;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
}

.left {
  float: left;
}

.text__left {
  text-align: left;
}

.main-container {
  max-width: 1440px;
  padding: 0 80px;
  overflow: hidden;
  margin: auto;
}
@media (max-width: 600px) {
  .main-container {
    max-width: 600px;
    padding: 0 16px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .main-container {
    max-width: 1024px;
    padding: 0 40px;
  }
}

.mt-4 {
  margin-top: 4px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.button {
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  background: #fcfcfd;
  padding: 0 16px;
  font-size: 14px;
  text-align: center;
  color: #23262F;
  font-family: "Poppins", sans-serif;
  height: 36px;
  line-height: 34px;
}
.button:hover {
  cursor: pointer;
}

.button-secondary {
  background: #3B71FE;
  color: #FCFCFD;
  border: 2px solid #3B71FE;
}

.button-tertiary {
  background: #353945;
  color: #FCFCFD;
  border: 2px solid #353945;
}

.button-blank {
  background: none;
  border: none;
}

.button-round {
  width: 64px;
  height: 64px;
  padding: 17px 0 0;
  display: block;
  border-radius: 100px;
}

.button-image {
  position: relative;
  padding-left: 50px;
}
.button-image img {
  position: absolute;
  top: 4px;
  left: 16px;
}

@media (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }
  .mobile-visible {
    display: block;
  }
  .tablet-hidden {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .tablet-hidden {
    display: none;
  }
  .mobile-visible {
    display: none;
  }
}
@media (min-width: 1025px) {
  .mobile-visible {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
